* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 80vh;
    gap: 20px; 
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: white;
    border: 1px solid black;
    flex-grow: 1;
    flex-basis: calc(33.33% - 20px);
    height: calc(50% - 20px); 
}

#box4 {
    flex-basis: calc(100% - 20px);
    position: relative;
}

#box3 {
    position: absolute;
    bottom: 0; 
    right: calc(33.33% + 10px); 
    width: calc(33.33% - 20px); 
    height: calc(50% - 20px); 
    z-index: 1;
}

#box1 { background-color: #00d4a6; }
#box2 { background-color: #21aaf3; }
#box3 { background-color: #ae27b0; }
#box4 { background-color: #455a64; }
